<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blind 2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/teste">Teste</a></li>
                <li><a href="/usuarios">Usuários</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main>
        <section>
            <h1>Blind 2024</h1>
            <p>Registrando o mundo de forma acessível para todos.</p>
        </section>

        <section>
            <h2>Nossa Missão</h2>
            <p>Nosso objetivo é tornar o mundo visual acessível para pessoas com deficiência visual. Com a tecnologia, registramos imagens e oferecemos descrições detalhadas e sensíveis ao contexto, permitindo uma melhor compreensão e inclusão.</p>
        </section>

        <section>
            <h2>Como Funciona</h2>
            <p>Nossa plataforma utiliza inteligência artificial para descrever imagens e proporcionar descrições enriquecedoras para quem não pode vê-las. Carregue uma imagem ou tire uma foto, e nossa ferramenta gerará uma descrição acessível.</p>
            <button><a href="/teste">Experimente Agora</a></button>
        </section>

        <section>
            <h2>Contribua para a Inclusão</h2>
            <p>Junte-se à nossa comunidade de voluntários e ajude a melhorar as descrições das imagens. Sua contribuição pode fazer uma grande diferença para quem depende de descrições visuais.</p>
            <button>Saiba Mais</button>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>
        <p class="rodap">&copy; 2024 Inclusão Visual. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
