<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário - Projeto Blind</title>
    <link rel="stylesheet" href="static/css/usuarios.css">
</head>
<body>
    <header>
        <h1>Perfil do Usuário - Projeto Blind</h1>
        <p>Visualize suas informações e imagens registradas</p>
    </header>

    <div class="container">
        <!-- Seção de informações do perfil -->
        <div class="profile-section">
            <h2>Meu Perfil</h2>
            <img src="static/img/leticia.jpg" alt="Foto de perfil do usuário" class="profile-picture">
            <div class="profile-details">
                <p><strong>Nome:</strong>Letícia Silva</p>
                <p><strong>Email:</strong>leticia.silva@gmail.com</p>
                <p><strong>Data de Cadastro:</strong> 09/11/2024</p>
                <p><strong>Descrição:</strong>Tenho uma tia que é deficiênte visual, e com esse projeto já consegui registrar 4 imagens! </p>
            </div>
        </div>

        <!-- Seção de galeria de imagens registradas -->
        <div class="images-section">
            <h2>Minhas Imagens Registradas</h2>
            <div class="images-gallery">
                <img src="static/img/horto.jpg" alt="Imagem registrada 1">
                <img src="static/img/entradaSamsung.jpg" alt="Imagem registrada 2">
                <img src="static/img/vistaSamsung.jpg" alt="Imagem registrada 3">
                <img src="static/img/cozinhaSamsung.jpg" alt="Imagem registrada 4">
                <!-- Adicione mais imagens conforme necessário -->
            </div>
        </div>
    </div>
</body>
</html>
